<DOCUMENT>
<TYPE>424B2
<SEQUENCE>1
<FILENAME>dp126836_424b2-us2097204.htm
<DESCRIPTION>PRICING SUPPLEMENT
<TEXT>
<HTML>
<HEAD>
     <TITLE></TITLE>
</HEAD>
<BODY STYLE="font: 10pt Times New Roman, Times, Serif">

<P STYLE="margin: 0"></P>

<TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse">
<TR STYLE="vertical-align: top">
    <TD STYLE="width: 53%; font-size: 10pt; color: #888888"><FONT STYLE="font-size: 18pt">Citigroup Global Markets Holdings Inc.</FONT></TD>
    <TD STYLE="width: 47%">
        <P STYLE="color: gray; font: bold 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: right">[RDG_PricingDate]</P>
        <P STYLE="color: gray; font: bold 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: right">Medium-Term Senior Notes,
        Series N</P>
        <P STYLE="color: gray; font: bold 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: right">Pricing Supplement No. 2020-USNCH4239</P>
        <P STYLE="color: gray; font: bold 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: right">Filed Pursuant to Rule 424(b)(2)</P>
        <P STYLE="color: gray; font: bold 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: right">Registration Statement Nos.
        333-224495 and 333-224495-03</P></TD></TR>
</TABLE>
<P STYLE="color: #59AE43; font: 12pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">[RDG_ProductName]</P>

<TABLE CELLPADDING="0" CELLSPACING="0" WIDTH="100%" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin-top: 0pt; margin-bottom: 0pt"><TR STYLE="vertical-align: top">
<TD STYLE="width: 0"></TD><TD STYLE="width: 0.25in"><FONT STYLE="font-size: 10pt">&#9642;</FONT></TD><TD>The securities offered by this pricing supplement are unsecured debt securities issued by Citigroup Global Markets Holdings
Inc. and guaranteed by Citigroup Inc. The securities offer the potential for periodic contingent coupon payments at an annualized
rate that, if all are paid, would produce a yield that is generally higher than the yield on our conventional debt securities of
the same maturity. In exchange for this higher potential yield, you must be willing to accept the risks that (i) your actual yield
may be lower than the yield on our conventional debt securities of the same maturity because you may not receive one or more, or
any, contingent coupon payments, and (ii) the value of what you receive at maturity may be significantly less than the stated principal
amount of your securities, and may be zero. Each of these risks will depend on the performance of the underlying specified below.</TD></TR></TABLE>

<TABLE CELLPADDING="0" CELLSPACING="0" WIDTH="100%" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin-top: 0pt; margin-bottom: 0pt"><TR STYLE="vertical-align: top">
<TD STYLE="width: 0"></TD><TD STYLE="width: 0.25in"><FONT STYLE="font-size: 10pt">&#9642;</FONT></TD><TD>We have the right to call the securities for mandatory redemption on any potential redemption date specified below. Although
you will have downside exposure to the underlying, you will not receive dividends with respect to the underlying or participate
in any appreciation of the underlying.</TD></TR></TABLE>

<TABLE CELLPADDING="0" CELLSPACING="0" WIDTH="100%" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin-top: 0pt; margin-bottom: 0pt"><TR STYLE="vertical-align: top">
<TD STYLE="width: 0"></TD><TD STYLE="width: 0.25in"><FONT STYLE="font-size: 10pt">&#9642;</FONT></TD><TD>Investors in the securities must be willing to accept (i) an investment that may have limited or no liquidity and (ii) the
risk of not receiving any payments due under the securities if we and Citigroup Inc. default on our obligations. <B>All payments
on the securities are subject to the credit risk of Citigroup Global Markets Holdings Inc. and Citigroup Inc.</B></TD></TR></TABLE>

<TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Arial, Helvetica, Sans-Serif; border-collapse: collapse">
<TR STYLE="vertical-align: top; background-color: #59AE43">
    <TD COLSPAN="4"><FONT STYLE="color: white"><B>KEY TERMS</B></FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD><FONT STYLE="color: #59AE43"><B>Issuer:</B></FONT></TD>
    <TD COLSPAN="3">	[RDG_Issuer]</TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E5">
    <TD><FONT STYLE="color: #59AE43"><B>Guarantee:</B></FONT></TD>
    <TD COLSPAN="3">All payments due on the securities are fully and unconditionally guaranteed by Citigroup Inc.</TD></TR>
<TR STYLE="vertical-align: top">
    <TD><FONT STYLE="color: #59AE43"><B>Underlying:</B></FONT></TD>
    <TD COLSPAN="3">	[RDG_Underlying1]</TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E5">
    <TD><FONT STYLE="color: #59AE43"><B>Stated principal amount:</B></FONT></TD>
    <TD COLSPAN="3">$[RDG_PerNotePrincipalAmount]  per security</TD></TR>
<TR STYLE="vertical-align: top">
    <TD><FONT STYLE="color: #59AE43"><B>Pricing date:</B></FONT></TD>
    <TD COLSPAN="3">	[RDG_PricingDate]</TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E5">
    <TD><FONT STYLE="color: #59AE43"><B>Issue date:</B></FONT></TD>
    <TD COLSPAN="3">	[RDG_IssueDate]</TD></TR>
<TR STYLE="vertical-align: top">
    <TD><FONT STYLE="color: #59AE43"><B>Valuation dates:</B></FONT></TD>
    <TD COLSPAN="3">	[RDG_ValuationDate], each subject to postponement if such date is not a scheduled trading day or certain market disruption events occur</TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E5">
    <TD><FONT STYLE="color: #59AE43"><B>Maturity date:</B></FONT></TD>
    <TD COLSPAN="3">Unless earlier redeemed, [RDG_MaturityDate]</TD></TR>
<TR STYLE="vertical-align: top">
    <TD><FONT STYLE="color: #59AE43"><B>Contingent coupon payment dates:</B></FONT></TD>
    <TD COLSPAN="3">The third business day after each valuation date, except that the contingent coupon payment date following the final valuation date will be the maturity date</TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E5">
    <TD><FONT STYLE="color: #59AE43"><B>Contingent coupon:</B></FONT></TD>
    <TD COLSPAN="3">On each contingent coupon payment date, unless previously redeemed, the securities will pay a contingent coupon equal to 3.5875% of the stated principal amount of the securities (equivalent to a contingent coupon rate of 14.35% per annum) <B>if and only if</B> the closing value of the underlying on the immediately preceding valuation date is greater than or equal to the coupon barrier value. <B>If the closing value of the underlying on any valuation date is less than the coupon barrier value, you will not receive any contingent coupon payment on the immediately following contingent coupon payment date. </B></TD></TR>
<TR STYLE="vertical-align: top">
    <TD><FONT STYLE="color: #59AE43"><B>Payment at maturity:</B></FONT></TD>
    <TD COLSPAN="3">
        <P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">If the securities are not redeemed prior to maturity, you will
        receive at maturity for each security you then hold (in addition to the final contingent coupon payment, if applicable):</P>
        <P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0 0pt 26.35pt; text-indent: -8.5pt"><FONT STYLE="font-family: Wingdings">&sect;</FONT>
        If the final underlying value is <B>greater than or equal to</B> the final barrier value:</P>
        <P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0 0pt 26.35pt">$1,000</P>
        <P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0 0pt 26.35pt; text-indent: -8.5pt"><FONT STYLE="font-family: Wingdings">&sect;</FONT>
        If the final underlying value is <B>less than</B> the final barrier value:</P>
        <P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0 0pt 26.35pt">$1,000 + ($1,000 &times; the underlying return)</P>
        <P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0"><B>If the securities are not redeemed prior to maturity and the
        final underlying value is less than the final barrier value, you will receive significantly less than the stated principal amount
        of your securities, and possibly nothing, at maturity, and you will not receive any contingent coupon payment at maturity.</B></P></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E5">
    <TD><FONT STYLE="color: #59AE43"><B>Initial underlying value:</B></FONT></TD>
    <TD COLSPAN="3">$[RDG_Underlying1_InitialValue], the closing value of the underlying on the pricing date</TD></TR>
<TR STYLE="vertical-align: top">
    <TD><FONT STYLE="color: #59AE43"><B>Final underlying value:</B></FONT></TD>
    <TD COLSPAN="3">The closing value of the underlying on the final valuation date</TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E5">
    <TD><FONT STYLE="color: #59AE43"><B>Coupon barrier value:</B></FONT></TD>
    <TD COLSPAN="3">$[RDG_Underlying1_CouponBarrierValue], [RDG_CouponBarrierPercentage]% of the initial underlying value</TD></TR>
<TR STYLE="vertical-align: top">
    <TD><FONT STYLE="color: #59AE43"><B>Final barrier value:</B></FONT></TD>
    <TD COLSPAN="3">$[RDG_Underlying1_FinalBarrierValue],[RMV_CouponBarrierPercentage]% of the initial underlying value</TD></TR>
	<TD><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Equity ratio:</B></FONT></TD>
    <TD COLSPAN="4"><FONT STYLE="font-size: 10pt">[RDG_EquityRatio], the stated principal amount <I>divided by</I> the initial underlying value</FONT></TD></TR>
<TR STYLE="vertical-align: top">
	
<TR STYLE="vertical-align: top; background-color: #EAF3E5">
    <TD><FONT STYLE="color: #59AE43"><B>Listing:</B></FONT></TD>
    <TD COLSPAN="3">The securities will not be listed on any securities exchange</TD></TR>
<TR STYLE="vertical-align: top">
    <TD><FONT STYLE="color: #59AE43"><B>Underwriter:</B></FONT></TD>
    <TD COLSPAN="3">Citigroup Global Markets Inc. (&ldquo;CGMI&rdquo;), an affiliate of the issuer, acting as principal</TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E5">
    <TD STYLE="width: 20%"><FONT STYLE="color: #59AE43"><B>Underwriting fee and issue price:</B></FONT></TD>
    <TD STYLE="width: 28%; text-align: center"><FONT STYLE="color: #59AE43"><B>Issue price<SUP>(1)</SUP></B></FONT></TD>
    <TD STYLE="width: 26%; text-align: center"><FONT STYLE="color: #59AE43"><B>Underwriting fee<SUP>(2)</SUP></B></FONT></TD>
    <TD STYLE="width: 26%; text-align: center"><FONT STYLE="color: #59AE43"><B>Proceeds to issuer</B></FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD><FONT STYLE="color: #59AE43"><B>Per security:</B></FONT></TD>
    <TD STYLE="text-align: center">$[RMV_PerNotePrincipalAmount]</TD>
    <TD STYLE="text-align: center">$[RDG_PerNoteUnderwritingFee]</TD>
    <TD STYLE="text-align: center">$[RDG_PerNoteProceedsToIssuer]</TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E5">
    <TD><FONT STYLE="color: #59AE43"><B>Total:</B></FONT></TD>
    <TD STYLE="text-align: center">$[RMV_AggregatedPrincipalAmount]</TD>
    <TD STYLE="text-align: center">$[RDG_AggregatedUnderwritingFee]</TD>
    <TD STYLE="text-align: center">$[RDG_AggregatedIssuerPrice]</TD></TR>
</TABLE>
<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: right"><FONT STYLE="font-size: 9pt"><I>(Key Terms
continued on next page)</I></FONT></P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0"><FONT STYLE="font-size: 9pt">[LOGN_BOOKMARK_RiskAssesment]</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>

<TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Arial, Helvetica, Sans-Serif; border-collapse: collapse">
<TR STYLE="vertical-align: top; background-color: #59AE43">
    <TD COLSPAN="2"><FONT STYLE="font-size: 10pt; color: white"><B>KEY TERMS (continued)</B></FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="width: 24%"><FONT STYLE="color: #59AE43"><B>Redemption:</B></FONT></TD>
    <TD STYLE="width: 76%">We may call the securities, in whole and not in part, for mandatory redemption on any potential redemption date upon not less than three business days&rsquo; notice. Following an exercise of our call right, you will receive for each security you then hold an amount in cash equal to $1,000.00 plus the related contingent coupon payment, if any.</TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E5">
    <TD><FONT STYLE="color: #59AE43"><B>Potential redemption dates:</B></FONT></TD>
    <TD>The contingent coupon payment dates related to the valuation dates scheduled to occur on [RDG_RedemptionDates]</TD></TR>
<TR STYLE="vertical-align: top">
    <TD><FONT STYLE="color: #59AE43"><B>Underlying return:</B></FONT></TD>
    <TD>(i) The final underlying value <I>minus</I> the initial underlying value, <I>divided by</I> (ii) the initial underlying value</TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E5">
    <TD><FONT STYLE="color: #59AE43"><B>CUSIP / ISIN:</B></FONT></TD>
    <TD>[RDG_InputCUSIPCode] / [RDG_InputISINCode]</TD></TR>
</TABLE>


<P STYLE="margin: 0">&nbsp;</P>

<P STYLE="margin: 0"></P>

<!-- Field: Page; Sequence: 2; Value: 2 -->
    <DIV STYLE="margin-top: 6pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Arial, Helvetica, Sans-Serif; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 100%; text-align: right; font-size: 10pt; color: #59AE43"><FONT STYLE="font-size: 10pt">PS-<!-- Field: Sequence; Type: Arabic; Name: PageNo -->2<!-- Field: /Sequence --></FONT></TD></TR></TABLE><P STYLE="margin: 0pt"></P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 6pt"><P STYLE="margin: 0pt"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Arial, Helvetica, Sans-Serif; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 100%; border-bottom: #59AE40 1pt solid; font-size: 10pt; color: #888888; text-align: right"><FONT STYLE="font-size: 14pt">Citigroup Global Markets Holdings Inc.</FONT></TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 10pt">&nbsp;</TD></TR></TABLE><P STYLE="margin: 0pt"></P></DIV>
    <!-- Field: /Page -->

<P STYLE="margin: 0"></P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">Additional Information</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0"><B>[LOGN_BOOKMARK_AddtionalInformation]</p>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>


<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">Hypothetical Examples</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">[LOGN_BOOKMARK_HypoExample]</p>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">Summary Risk Factors</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">
[LOGN_BOOKMARK_SummaryRiskFactor]</p>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">Information About the Energy Select Sector SPDR<SUP>&reg;</SUP>
Fund</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">[LOGY_BOOKMARK_Underlying1Information]</p>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>


<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">United States Federal Tax Considerations</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">[LOGN_BOOKMARK_USTaxConsideration]</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">Supplemental Plan of Distribution</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">[LOGN_BOOKMARK_SuplementalPlan]</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">Valuation of the Securities</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">LOGN_BOOKMARK_ValuationOfSecurities</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">Certain Selling Restrictions</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>


<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">[LOGN_BOOKMARK_CertainSellingRestriction]</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">Validity of the Securities</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">[LOGN_BOOKMARK_ValidityOfTheNotes]</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">Contact</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">[LOGN_BOOKMARK_Contact]</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>


<!-- Field: Page; Sequence: 15; Options: Last -->
    <DIV STYLE="margin-top: 6pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Arial, Helvetica, Sans-Serif; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 100%; text-align: right; font-size: 10pt; color: #59AE43"><FONT STYLE="font-size: 10pt">PS-<!-- Field: Sequence; Type: Arabic; Name: PageNo -->15<!-- Field: /Sequence --></FONT></TD></TR></TABLE><P STYLE="margin: 0pt"></P></DIV>
    <!-- Field: /Page -->



<P STYLE="margin: 0"></P>

</BODY>
</HTML>
</TEXT>
</DOCUMENT>
