<DOCUMENT>
<TYPE>424B2
<SEQUENCE>1
<FILENAME>dp121763_424b2-us2091445.htm
<DESCRIPTION>PRICING SUPPLEMENT
<TEXT>
<HTML>
<HEAD>
     <TITLE></TITLE>
</HEAD>
<BODY STYLE="font: 10pt Times New Roman, Times, Serif">

<P STYLE="margin: 0"></P>

<TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse">
<TR STYLE="vertical-align: top">
    <TD STYLE="width: 60%; font-size: 30pt; color: #888888"><FONT STYLE="font-size: 18pt">Citigroup Global Markets Holdings Inc.</FONT></TD>
    <TD STYLE="width: 40%">
        <P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: right; color: #888888"><B>[RDG_PricingDate]</B></P>
        <P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: right; color: #888888"><B>Medium-Term Senior
Notes, Series N</B></P>
        <P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: right; color: #888888"><B>Pricing Supplement
No. 2020-USNCH3659</B></P>
        <P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: right; color: #888888"><B>Filed Pursuant
to Rule 424(b)(2)</B></P>
        <P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: right; color: #888888"><B>Registration Statement
Nos. 333-224495 and 333-224495-03</B></P></TD></TR>
</TABLE>
<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="color: #59AE40; font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0"><FONT STYLE="font-size: 12pt">[RDG_ProductName]</FONT></P>

<P STYLE="color: #59AE40; font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0"></P>

<TABLE CELLPADDING="0" CELLSPACING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin-top: 0pt; margin-bottom: 0pt; width: 100%"><TR STYLE="vertical-align: top">
<TD STYLE="width: 0in"></TD><TD STYLE="width: 0.25in; text-align: left"><FONT STYLE="font-family: Wingdings; color: #59AE40">&sect;</FONT></TD><TD>The securities offered by this pricing supplement are
unsecured senior debt securities issued by Citigroup Global Markets Holdings Inc. and guaranteed by Citigroup Inc. The securities
offer the potential for contingent coupon payments at an annualized rate that, if all are paid, would produce a yield that is
generally higher than the yield on our conventional debt securities of the same maturity. In exchange for this higher potential
yield, you must be willing to accept the risks that (i) your actual yield may be lower than the yield on our conventional debt
securities of the same maturity because you may not receive one or more, or any, contingent coupon payments; (ii) your actual
yield may be negative because, at maturity, you may receive significantly less than the stated principal amount of your securities
and possibly nothing; and (iii) the securities may be automatically redeemed prior to maturity. Each of these risks will depend
on the performance of the shares of common stock of Bank of America Corporation (the &ldquo;underlying shares&rdquo;), as described
below. Although you will be exposed to downside risk with respect to the underlying shares, you will not participate in any appreciation
of the underlying shares or receive any dividends paid on the underlying shares.</TD>
</TR></TABLE>

<P STYLE="margin-top: 0pt; margin-bottom: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P>

<TABLE CELLPADDING="0" CELLSPACING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin-top: 0pt; margin-bottom: 0pt; width: 100%"><TR STYLE="vertical-align: top">
<TD STYLE="width: 0in"></TD><TD STYLE="width: 0.25in; text-align: left"><FONT STYLE="font-family: Wingdings; color: #59AE40">&sect;</FONT></TD><TD>Investors in the securities must be willing to accept
(i) an investment that may have limited or no liquidity and (ii) the risk of not receiving any payments due under the securities
if we and Citigroup Inc. default on our obligations. <B>All payments on the securities are subject to the credit risk of Citigroup
Global Markets Holdings Inc. and Citigroup Inc.</B></TD>
</TR></TABLE>

<P STYLE="margin-top: 0pt; margin-bottom: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P>

<TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse">
<TR STYLE="vertical-align: top; background-color: #59AE40">
    <TD COLSPAN="4"><FONT STYLE="font-size: 10pt; color: white"><B>KEY TERMS</B></FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="padding-right: 11pt; font-size: 12pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Issuer:</B></FONT></TD>
    <TD COLSPAN="3" STYLE="font-size: 12pt"><FONT STYLE="font-size: 10pt">[RDG_Issuer]</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E0">
    <TD STYLE="padding-right: 11pt; font-size: 12pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Guarantee:</B></FONT></TD>
    <TD COLSPAN="3" STYLE="font-size: 12pt"><FONT STYLE="font-size: 10pt">All payments due on the securities are fully and unconditionally guaranteed by Citigroup Inc.</FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="padding-right: 11pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Underlying shares:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">	[RDG_Underlying1]</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E0">
    <TD STYLE="padding-right: 11pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Aggregate stated principal amount:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">[RDG_AggregatedPrincipalAmount]</FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="padding-right: 11pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Stated principal amount:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">$[RDG_PerNotePrincipalAmount] per security</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E0">
    <TD STYLE="padding-right: 11pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Pricing date:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">	[RDG_PricingDate] </FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: white">
    <TD STYLE="padding-right: 11pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Issue date:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">[RDG_IssueDate]</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E0">
    <TD STYLE="padding-right: 11pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Interim valuation dates: </B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">[RDG_ValuationDate], each subject to postponement if such date is not a scheduled trading day or if certain market disruption events occur</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: white">
    <TD STYLE="padding-right: 11pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Final valuation dates:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">[RDG_FinalValuationDate], each subject to postponement if such date is not a scheduled trading day or if certain market disruption events occur</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E0">
    <TD STYLE="padding-right: 11pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Maturity date: </B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">	[RDG_MaturityDate], subject to postponement as described under &ldquo;Additional Information&rdquo; below</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: white">
    <TD STYLE="padding-right: 11pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Contingent coupon payment dates:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">For any interim valuation date, the third business day after such interim valuation date; and for the final valuation dates, the maturity date</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E0">
    <TD STYLE="padding-right: 11pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Contingent coupon: </B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">[LOGY_BOOKMARK_ContingentCouponRate]</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: white">
    <TD STYLE="padding-right: 11pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Automatic early redemption:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">If, on any of the interim valuation dates, the closing price of the underlying shares is greater than or equal to the initial share price, each security you then hold will be automatically redeemed on the related contingent coupon payment date for an amount in cash equal to $1,000 <I>plus</I> the related contingent coupon payment (including any previously unpaid contingent coupon payments).</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E0">
    <TD STYLE="padding-right: 11pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Payment at maturity:</B></FONT></TD>
    <TD COLSPAN="3">
        <P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">[LOGY_BOOKMARK_PaymentAtMaturity]</P></TD></TR>
<TR STYLE="vertical-align: top; background-color: white">
    <TD STYLE="padding-right: 11pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Initial share price: </B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">$[RDG_Underlying1_InitialValue], the closing price of the underlying shares on the pricing date</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E0">
    <TD STYLE="padding-right: 11pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Final share price:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">The arithmetic average of the closing price of the underlying shares on each of the five final valuation dates</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: white">
    <TD STYLE="padding-right: 11pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Relevant share price:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">For any contingent coupon payment date other than the maturity date, the relevant share price is the closing price of the underlying shares on the interim valuation date immediately preceding that contingent coupon payment date.&nbsp;&nbsp;For the maturity date, the relevant share price is the final share price.</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E0">
    <TD STYLE="padding-right: 11pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Coupon barrier price:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">$[RDG_Underlying1_CouponBarrierValue], [RDG_CouponBarrierPercentage]% of the initial share price</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: white">
    <TD STYLE="padding-right: 11pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Final barrier price:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">$[RDG_Underlying1_FinalBarrierValue], [RDG_BarrierPercentage]% of the initial share price</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E0">
    <TD STYLE="padding-right: 11pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Share return:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">(i) The final share price <I>minus</I> the initial share price, <I>divided by</I> (ii) the initial share price</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: white">
    <TD STYLE="padding-right: 11pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Listing:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">The securities will not be listed on any securities exchange</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E0">
    <TD STYLE="padding-right: 11pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>CUSIP / ISIN: </B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">	[RDG_InputCUSIPCode] / [RDG_InputISINCode]</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: white">
    <TD STYLE="padding-right: 11pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Underwriter:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">Citigroup Global Markets Inc. (&ldquo;CGMI&rdquo;), an affiliate of the issuer, acting as principal</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E0">
    <TD STYLE="padding-right: 11pt; width: 24%"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Underwriting fee and issue price:</B></FONT></TD>
    <TD STYLE="width: 28%; text-align: center"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Issue price<SUP>(1)(2)</SUP></B></FONT></TD>
    <TD STYLE="width: 25%; text-align: center"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Underwriting fee<SUP>(3)</SUP></B></FONT></TD>
    <TD STYLE="width: 23%; text-align: center"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Proceeds to issuer<SUP>(3)</SUP></B></FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: white">
    <TD STYLE="padding-right: 11pt; text-align: right"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Per security:</B></FONT></TD>
    <TD STYLE="text-align: center"><FONT STYLE="font-size: 10pt">$[RMV_PerNotePrincipalAmount]</FONT></TD>
    <TD STYLE="text-align: center"><FONT STYLE="font-size: 10pt">$[RDG_PerNoteUnderwritingFee]</FONT></TD>
    <TD STYLE="text-align: center"><FONT STYLE="font-size: 10pt">$[RDG_PerNoteProceedsToIssuer]</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E0">
    <TD STYLE="padding-right: 11pt; text-align: right"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Total:</B></FONT></TD>
    <TD STYLE="text-align: center"><FONT STYLE="font-size: 10pt">$[RMV_AggregatedPrincipalAmount]</FONT></TD>
    <TD STYLE="text-align: center"><FONT STYLE="font-size: 10pt">$[RDG_AggregatedUnderwritingFee]</FONT></TD>
    <TD STYLE="text-align: center"><FONT STYLE="font-size: 10pt">$[RDG_AggregatedIssuerPrice]</FONT></TD></TR>
</TABLE>
<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">[LOGN_BOOKMARK_RiskAssesment]</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: center">&nbsp;</P>


<!-- Field: Page; Sequence: 1 -->
    <DIV STYLE="margin-bottom: 6pt"><TABLE CELLPADDING="0" CELLSPACING="0" STYLE="width: 100%"><TR><TD STYLE="text-align: center; width: 100%">&nbsp;</TD></TR></TABLE></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt"><TABLE CELLPADDING="0" CELLSPACING="0" STYLE="width: 100%"><TR><TD STYLE="text-align: center; width: 100%">&nbsp;</TD></TR></TABLE></DIV>
    <!-- Field: /Page -->

<P STYLE="color: #59AE40; font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0"></P>

<TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse">
<TR STYLE="vertical-align: top">
    <TD STYLE="width: 100%; border-bottom: #59AE40 1pt solid; font-size: 22pt; color: #888888; text-align: right"><FONT STYLE="font-size: 14pt">Citigroup Global Markets Holdings Inc.</FONT></TD></TR>
<TR>
    <TD STYLE="border-bottom: #59AE40 1pt solid; font-size: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40">Autocallable Phoenix Securities Based on the Common Stock of Bank of America Corporation Due February 23, 2022</FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="font-size: 10pt">&nbsp;</TD></TR>
</TABLE>


<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; color: #59AE40; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40"></P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; color: #59AE40; margin: 0pt 0">Additional Information</P>

<P STYLE="color: #59AE40; font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">[LOGN_BOOKMARK_AddtionalInformation]</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="color: #59AE40; font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">Hypothetical Examples</P>

<P STYLE="color: #59AE40; font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">[LOGN_BOOKMARK_HypoExample]</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>


<!-- Field: Page; Sequence: 4; Value: 2 -->
    <DIV STYLE="margin-top: 6pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin-top: 0pt; text-align: center; margin-bottom: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 50%; font-size: 10pt"><FONT STYLE="color: #59AE40">February 2020</FONT></TD><TD STYLE="width: 50%; font-size: 10pt; text-align: right"><FONT STYLE="color: #59AE40">PS-<!-- Field: Sequence; Type: Arabic; Name: PageNo -->4<!-- Field: /Sequence --></FONT></TD></TR></TABLE><P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin-top: 0pt; text-align: center; margin-bottom: 0pt"></P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 6pt"><P STYLE="margin: 0pt"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 100%; border-bottom: #59AE40 1pt solid; font-size: 22pt; color: #888888; text-align: right"><FONT STYLE="font-size: 14pt">Citigroup Global Markets Holdings Inc.</FONT></TD></TR><TR><TD STYLE="border-bottom: #59AE40 1pt solid; font-size: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40">Autocallable Phoenix Securities Based on the Common Stock of Bank of America Corporation Due February 23, 2022</FONT></TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 10pt">&nbsp;</TD></TR></TABLE><P STYLE="margin: 0pt"></P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40">Summary Risk Factors</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">[LOGN_BOOKMARK_SummaryRiskFactor]</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0 0pt 0.25in">&nbsp;</P>


<!-- Field: Page; Sequence: 8; Value: 2 -->
    <DIV STYLE="margin-top: 6pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin-top: 0pt; text-align: center; margin-bottom: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 50%; font-size: 10pt"><FONT STYLE="color: #59AE40">February 2020</FONT></TD><TD STYLE="width: 50%; font-size: 10pt; text-align: right"><FONT STYLE="color: #59AE40">PS-<!-- Field: Sequence; Type: Arabic; Name: PageNo -->8<!-- Field: /Sequence --></FONT></TD></TR></TABLE><P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin-top: 0pt; text-align: center; margin-bottom: 0pt"></P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 6pt"><P STYLE="margin: 0pt"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 100%; border-bottom: #59AE40 1pt solid; font-size: 22pt; color: #888888; text-align: right"><FONT STYLE="font-size: 14pt">Citigroup Global Markets Holdings Inc.</FONT></TD></TR><TR><TD STYLE="border-bottom: #59AE40 1pt solid; font-size: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40">Autocallable Phoenix Securities Based on the Common Stock of Bank of America Corporation Due February 23, 2022</FONT></TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 10pt">&nbsp;</TD></TR></TABLE><P STYLE="margin: 0pt"></P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0 0pt 0.25in; text-indent: -0.25in; color: #59AE40">Information
About Bank of America Corporation</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0 0pt 0.25in; text-indent: -0.25in; color: #59AE40">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0"><FONT STYLE="background-color: white">[LOGY_BOOKMARK_Underlying1Information]</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>


<!-- Field: Page; Sequence: 10; Value: 2 -->
    <DIV STYLE="margin-top: 6pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin-top: 0pt; text-align: center; margin-bottom: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 50%; font-size: 10pt"><FONT STYLE="color: #59AE40">February 2020</FONT></TD><TD STYLE="width: 50%; font-size: 10pt; text-align: right"><FONT STYLE="color: #59AE40">PS-<!-- Field: Sequence; Type: Arabic; Name: PageNo -->10<!-- Field: /Sequence --></FONT></TD></TR></TABLE><P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin-top: 0pt; text-align: center; margin-bottom: 0pt"></P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 6pt"><P STYLE="margin: 0pt"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 100%; border-bottom: #59AE40 1pt solid; font-size: 22pt; color: #888888; text-align: right"><FONT STYLE="font-size: 14pt">Citigroup Global Markets Holdings Inc.</FONT></TD></TR><TR><TD STYLE="border-bottom: #59AE40 1pt solid; font-size: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40">Autocallable Phoenix Securities Based on the Common Stock of Bank of America Corporation Due February 23, 2022</FONT></TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 10pt">&nbsp;</TD></TR></TABLE><P STYLE="margin: 0pt"></P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40">United States Federal Tax Considerations</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">[LOGN_BOOKMARK_USTaxConsideration]</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>


<!-- Field: Page; Sequence: 11; Value: 2 -->
    <DIV STYLE="margin-top: 6pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin-top: 0pt; text-align: center; margin-bottom: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 50%; font-size: 10pt"><FONT STYLE="color: #59AE40">February 2020</FONT></TD><TD STYLE="width: 50%; font-size: 10pt; text-align: right"><FONT STYLE="color: #59AE40">PS-<!-- Field: Sequence; Type: Arabic; Name: PageNo -->11<!-- Field: /Sequence --></FONT></TD></TR></TABLE><P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin-top: 0pt; text-align: center; margin-bottom: 0pt"></P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 6pt"><P STYLE="margin: 0pt"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 100%; border-bottom: #59AE40 1pt solid; font-size: 22pt; color: #888888; text-align: right"><FONT STYLE="font-size: 14pt">Citigroup Global Markets Holdings Inc.</FONT></TD></TR><TR><TD STYLE="border-bottom: #59AE40 1pt solid; font-size: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40">Autocallable Phoenix Securities Based on the Common Stock of Bank of America Corporation Due February 23, 2022</FONT></TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 10pt">&nbsp;</TD></TR></TABLE><P STYLE="margin: 0pt"></P></DIV>
    <!-- Field: /Page -->

<P STYLE="color: #59AE40; font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">Supplemental Plan of Distribution</P>

<P STYLE="color: #59AE40; font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">[LOGN_BOOKMARK_SuplementalPlan]</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="color: #59AE40; font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">Valuation of the Securities</P>

<P STYLE="color: #59AE40; font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">LOGN_BOOKMARK_ValuationOfSecurities</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40"><FONT STYLE="font-weight: normal; background-color: white">Validity
of the Securities</FONT></P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0"><FONT STYLE="background-color: white">[LOGN_BOOKMARK_ValidityOfTheNotes]</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>



<P STYLE="margin: 0"></P>

<!-- Field: Page; Sequence: 13; Options: Last -->
    <DIV STYLE="margin-top: 6pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin-top: 0pt; text-align: center; margin-bottom: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 50%; font-size: 10pt"><FONT STYLE="color: #59AE40">February 2020</FONT></TD><TD STYLE="width: 50%; font-size: 10pt; text-align: right"><FONT STYLE="color: #59AE40">PS-<!-- Field: Sequence; Type: Arabic; Name: PageNo -->13<!-- Field: /Sequence --></FONT></TD></TR></TABLE><P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin-top: 0pt; text-align: center; margin-bottom: 0pt"></P></DIV>
    <!-- Field: /Page -->

<P STYLE="margin: 0"></P>

<P STYLE="margin: 0">&nbsp;</P>

<P STYLE="margin: 0"></P>

</BODY>
</HTML>
</TEXT>
</DOCUMENT>
