<DOCUMENT>
<TYPE>424B2
<SEQUENCE>1
<FILENAME>dp108450_424b2-us1971171.htm
<DESCRIPTION>PRICING SUPPLEMENT
<TEXT>
<HTML>
<HEAD>
     <TITLE></TITLE>
</HEAD>
<BODY STYLE="font: 10pt Times New Roman, Times, Serif">

<P STYLE="margin: 0">&nbsp;</P>

<P STYLE="margin: 0"></P>

<TABLE CELLSPACING="2" CELLPADDING="2" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse">
<TR STYLE="vertical-align: top">
    <TD STYLE="width: 55%; font-size: 10pt; color: #888888"><FONT STYLE="font-size: 18pt">Citigroup Global Markets Holdings Inc.</FONT></TD>
    <TD STYLE="width: 45%"><P STYLE="color: #888888; font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: right"><FONT STYLE="font-size: 9pt"><B>June
        11, 2019</B></FONT></P>
        <P STYLE="color: #888888; font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: right"><FONT STYLE="font-size: 9pt"><B>Medium-Term
        Senior Notes, Series N</B></FONT></P>
        <P STYLE="color: #888888; font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: right"><FONT STYLE="font-size: 9pt"><B>Pricing
        Supplement No. 2019-USNCH2403</B></FONT></P>
        <P STYLE="color: #888888; font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: right"><FONT STYLE="font-size: 9pt"><B>Filed
        Pursuant to Rule 424(b)(2)</B></FONT></P>
        <P STYLE="color: #888888; font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: right"><FONT STYLE="font-size: 9pt"><B>Registration
        Statement Nos. 333-224495 and 333-224495-03</B></FONT></P></TD></TR>
</TABLE>


<P STYLE="margin: 0"></P>

<P STYLE="color: rgb(89,174,64); font: 12pt Arial, Helvetica, Sans-Serif; margin: 3pt 0pt">[RDG_ProductName]</P>

<P STYLE="font: bold 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0 3pt">Overview</P>

<TABLE CELLPADDING="0" CELLSPACING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin-top: 0pt; margin-bottom: 0pt; width: 100%"><TR STYLE="vertical-align: top">
<TD STYLE="width: 0in"></TD><TD STYLE="width: 0.25in; text-align: left"><FONT STYLE="font-size: 10pt">&#9642;</FONT></TD><TD>The notes offered by this pricing supplement are unsecured
senior debt securities issued by Citigroup Global Markets Holdings Inc. and guaranteed by Citigroup Inc. Unlike conventional debt
securities, the notes do not pay interest and do not guarantee the full repayment of principal at maturity. Instead, the notes
offer the potential for a return at maturity based on the performance of the worst performing of the underlying indices specified
below from its initial index level to its final index level.</TD>
</TR></TABLE>

<P STYLE="margin-top: 0pt; margin-bottom: 3pt; font: 10pt Arial, Helvetica, Sans-Serif"></P>

<TABLE CELLPADDING="0" CELLSPACING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin-top: 0pt; margin-bottom: 0pt; width: 100%"><TR STYLE="vertical-align: top">
<TD STYLE="width: 0in"></TD><TD STYLE="width: 0.25in; text-align: left"><FONT STYLE="font-size: 10pt">&#9642;</FONT></TD><TD>If the worst performing underlying index appreciates
from its initial index level to its final index level, you will receive a positive return at maturity equal to that appreciation
<I>multiplied by</I> the upside participation rate, subject to the maximum return at maturity specified below. However, if the
worst performing underlying index depreciates from its initial index level to its final index level, you will incur a loss at
maturity equal to that depreciation, subject to a maximum loss of 5% of the stated principal amount. Even if the worst performing
underlying index appreciates from its initial index level to its final index level so that you do receive a positive return at
maturity, there is no assurance that your total return at maturity on the notes will compensate you for the effects of inflation
or be as great as the yield you could have achieved on a conventional debt security of ours of comparable maturity.</TD>
</TR></TABLE>

<P STYLE="margin-top: 0pt; margin-bottom: 3pt; font: 10pt Arial, Helvetica, Sans-Serif"></P>

<TABLE CELLPADDING="0" CELLSPACING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin-top: 0pt; margin-bottom: 0pt; width: 100%"><TR STYLE="vertical-align: top">
<TD STYLE="width: 0in"></TD><TD STYLE="width: 0.25in; text-align: left"><FONT STYLE="font-size: 10pt">&#9642;</FONT></TD><TD>In exchange for the capped loss potential if the worst
performing underlying index depreciates, investors in the notes must be willing to forgo any dividends that may be paid on the
stocks that constitute either underlying index during the term of the notes. <B>If the worst performing underlying index does
not appreciate from its initial index level to its final index level, you will not receive any return on your investment in the
notes, and you may lose up to 5% of your investment.</B></TD>
</TR></TABLE>

<P STYLE="margin-top: 0pt; margin-bottom: 3pt; font: 10pt Arial, Helvetica, Sans-Serif"></P>

<TABLE CELLPADDING="0" CELLSPACING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin-top: 0pt; margin-bottom: 0pt; width: 100%"><TR STYLE="vertical-align: top">
<TD STYLE="width: 0in"></TD><TD STYLE="width: 0.25in; text-align: left"><FONT STYLE="font-size: 10pt">&#9642;</FONT></TD><TD>Your return on the notes will depend <B>solely</B> on
the performance of the worst performing underlying index. You will not benefit in any way from the performance of the better performing
underlying index. You may incur a loss on your investment in the notes if <B>either</B> underlying index performs poorly, even
if the other performs favorably.</TD>
</TR></TABLE>

<P STYLE="margin-top: 0pt; margin-bottom: 3pt; font: 10pt Arial, Helvetica, Sans-Serif"></P>

<TABLE CELLPADDING="0" CELLSPACING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin-top: 0pt; margin-bottom: 0pt; width: 100%"><TR STYLE="vertical-align: top">
<TD STYLE="width: 0in"></TD><TD STYLE="width: 0.25in; text-align: left"><FONT STYLE="font-size: 10pt">&#9642;</FONT></TD><TD>In order to obtain the modified exposure to the worst
performing underlying index that the notes provide, investors must be willing to accept (i) an investment that may have limited
or no liquidity and (ii) the risk of not receiving any amount due under the notes if we and Citigroup Inc. default on our obligations.
<B>All payments on the notes are subject to the credit risk of Citigroup Global Markets Holdings Inc. and Citigroup Inc.</B></TD>
</TR></TABLE>

<P STYLE="margin-top: 0pt; margin-bottom: 3pt; font: 10pt Arial, Helvetica, Sans-Serif"></P>
<TABLE CELLSPACING="2" CELLPADDING="2" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse">
<TR STYLE="vertical-align: top; background-color: #59AE40">
    <TD STYLE="width: 25%"><FONT STYLE="font-size: 10pt; color: white"><B>KEY TERMS</B></FONT></TD>
    <TD STYLE="width: 75%">&nbsp;</TD></TR>
<TR STYLE="vertical-align: top">
    <TD><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Issuer:</B></FONT></TD>
    <TD><FONT STYLE="font-size: 10pt">[RDG_Issuer]</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF1DD">
    <TD><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Guarantee:</B></FONT></TD>
    <TD><FONT STYLE="font-size: 10pt">All payments due on the notes are fully and unconditionally guaranteed by Citigroup Inc.</FONT></TD></TR>
</TABLE>


<P STYLE="margin: 0"></P>

<TABLE CELLSPACING="2" CELLPADDING="2" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse">
<TR STYLE="vertical-align: top">
    <TD STYLE="width: 25%"><FONT STYLE="color: #59AE40"><B>Underlying indices:</B></FONT></P>

<P STYLE="margin: 0pt 0"></TD>
    <TD STYLE="width: 38%; border: #59AE43 1pt solid; text-align: center; layout-grid-mode: char"><FONT STYLE="font-family: Arial, Helvetica, Sans-Serif; font-size: 10pt; color: #59AE40"><B>Underlying index</B></FONT></TD>
    <TD STYLE="width: 37%; border-top: #59AE43 1pt solid; border-right: #59AE43 1pt solid; border-bottom: #59AE43 1pt solid; text-align: center; layout-grid-mode: char"><FONT STYLE="font-family: Arial, Helvetica, Sans-Serif; font-size: 10pt; color: #59AE40"><B>Initial index level*</B></FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD>&nbsp;</TD>
    <TD STYLE="border-right: #59AE43 1pt solid; border-bottom: #59AE43 1pt solid; border-left: #59AE43 1pt solid; text-align: center; layout-grid-mode: char"><FONT STYLE="font-size: 10pt">[RDG_Underlying1]</FONT></TD>
    <TD STYLE="border-right: #59AE43 1pt solid; border-bottom: #59AE43 1pt solid; text-align: center; layout-grid-mode: char"><FONT STYLE="font-size: 10pt">[RDG_Underlying1_InitialValue]</FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD>&nbsp;</TD>
    <TD STYLE="border-right: #59AE43 1pt solid; border-bottom: #59AE43 1pt solid; border-left: #59AE43 1pt solid; text-align: center; layout-grid-mode: char"><FONT STYLE="font-size: 10pt">[RDG_Underlying2]</FONT></TD>
    <TD STYLE="border-right: #59AE43 1pt solid; border-bottom: #59AE43 1pt solid; text-align: center; layout-grid-mode: char"><FONT STYLE="font-size: 10pt">[RDG_Underlying2_InitialValue]</FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD>&nbsp;</TD>
    <TD COLSPAN="2" STYLE="text-align: center; layout-grid-mode: char"><P STYLE="margin-top: 0pt; text-align: left; margin-bottom: 0pt; font-size: 9pt">* For each underlying, its closing
level on the pricing date&nbsp;</P>


</TD></TR>
</TABLE>


<P STYLE="margin: 0"></P>

<P STYLE="margin: 0"></P>

<P STYLE="margin: 0"></P>

<TABLE CELLSPACING="2" CELLPADDING="2" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse">
<TR STYLE="vertical-align: top; background-color: #EAF1DD">
    <TD><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Aggregate stated principal amount:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt; color: Black">$[RDG_AggregatedPrincipalAmount]</FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Stated principal amount: </B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">$[RDG_PerNotePrincipalAmount] per note</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF1DD">
    <TD><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Pricing date:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">[RDG_PricingDate]</FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Issue date:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">[RDG_IssueDate]</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF1DD">
    <TD><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Valuation date:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">[RDG_ValuationDate], subject to postponement if such date is not a scheduled trading day or if certain market disruption events occur</FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Maturity date: </B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">[RDG_MaturityDate]</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF1DD">
    <TD><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Payment at maturity:</B></FONT></TD>
     <TD COLSPAN="3">
	 <P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40">&nbsp;</P>
       [LOGY_BOOKMARK_PaymentAtMaturity]
     <P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>


<TR STYLE="vertical-align: top; background-color: white">
    <TD><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Final index level:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">For each underlying index, its closing level on the valuation date</FONT></TD></TR>

<TR STYLE="vertical-align: top; background-color: rgb(234,243,224)">
    <TD><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Return amount:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">$[RMV_PerNotePrincipalAmount] &times; the underlying return of the worst performing underlying &times; the upside participation rate </FONT></TD></TR>	
<TR STYLE="vertical-align: top; background-color: white">
    <TD><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Worst performing underlying index:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">The underlying index with the lowest index return</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: rgb(234,243,224)">
    <TD><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Maximum return at maturity:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">$[RDG_MaxReturnAtMaturity] per note ([RDG_MaxReturnAtMaturityPercentage]% of the stated principal amount). The payment at maturity per note will not exceed the stated principal amount <I>plus</I> the maximum return at maturity.</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: white">
    <TD><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Minimum payment at maturity:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">$[RDG_MinimumPaymentAtMaturity] per note ([RDG_MinPaymentAtMaturityPercentage]% of the stated principal amount)</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: rgb(234,243,224)">
    <TD><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Index return:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">For each underlying index, (i) its final index level <I>minus</I> its initial index level, <I>divided by</I> (ii) its initial index level</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: white">
    <TD><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Upside participation rate:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">[RDG_UpsideParticipationRate]%</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: rgb(234,243,224)">
    <TD><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Buffer amount:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">[RDG_BufferAmount]%</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: white">
    <TD><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Listing:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">The notes will not be listed on any securities exchange</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: rgb(234,243,224)">
    <TD><FONT STYLE="font-size: 10pt; color: #59AE40"><B>CUSIP / ISIN:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">	[RDG_InputCUSIPCode] / [RDG_InputISINCode]</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: white">
    <TD><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Underwriter:</B></FONT></TD>
    <TD COLSPAN="3"><FONT STYLE="font-size: 10pt">Citigroup Global Markets Inc. (&ldquo;CGMI&rdquo;), an affiliate of the issuer, acting as principal</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: rgb(234,243,224)">
    <TD STYLE="width: 25%"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Underwriting fee and issue price:</B></FONT></TD>
    <TD STYLE="width: 25%; text-align: center; font-size: 10pt; color: #2292D0"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Issue price<SUP>(1)</SUP></B></FONT></TD>
    <TD STYLE="width: 25%; text-align: center; font-size: 10pt; color: #2292D0"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Underwriting fee<SUP>(2)</SUP></B></FONT></TD>
    <TD STYLE="width: 25%; text-align: center; font-size: 10pt; color: #2292D0"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Proceeds to issuer<SUP>(3)</SUP></B></FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: rgb(234,243,224)">
    <TD STYLE="text-align: right"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Per note:</B></FONT></TD>
    <TD STYLE="text-align: center"><FONT STYLE="font-size: 10pt">$[RMV_PerNotePrincipalAmount]</FONT></TD>
    <TD STYLE="text-align: center"><FONT STYLE="font-size: 10pt">$[RDG_PerNoteUnderwritingFee]</FONT></TD>
    <TD STYLE="text-align: center"><FONT STYLE="font-size: 10pt">$[RDG_PerNoteProceedsToIssuer]</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: white">
    <TD STYLE="text-align: right"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Total:</B></FONT></TD>
    <TD STYLE="text-align: center"><FONT STYLE="font-size: 10pt">$[RDG_AggregatedPrincipalAmount]</FONT></TD>
    <TD STYLE="text-align: center"><FONT STYLE="font-size: 10pt">$[RDG_AggregatedUnderwritingFee]	</FONT></TD>
    <TD STYLE="text-align: center"><FONT STYLE="font-size: 10pt">$[RDG_AggregatedIssuerPrice]</FONT></TD></TR>
</TABLE>


<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: center"></P>
<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: center"></P>

<TABLE CELLPADDING="0" CELLSPACING="0" WIDTH="100%" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin-top: 0pt; margin-bottom: 0pt">[LOGY_BOOKMARK_RiskAssesment]</TABLE>
<!-- Field: Page; Sequence: 1 -->
    <DIV STYLE="margin-top: 6pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt"></P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 6pt"><P STYLE="margin: 0pt"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Arial, Helvetica, Sans-Serif; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 100%; border-bottom: #59AE40 1pt solid; font-size: 12pt; text-align: right"><FONT STYLE="font-size: 14pt; color: #888888">Citigroup Global Markets Holdings Inc.</FONT></TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 10pt; color: #2292D0"></TD></TR></TABLE><P STYLE="margin: 0pt"></P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: center">&nbsp;</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40"><FONT STYLE="font-weight: normal">Additional
Information</FONT></P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>

[LOGY_BOOKMARK_AddtionalInformation]


<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>


<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40"><FONT STYLE="background-color: white">Payout
Diagram</FONT></P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40">&nbsp;</P>

[LOGY_BOOKMARK_PayoutDiagram]

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>
<!-- Field: Page; Sequence: 10; Value: 2 -->
    <DIV STYLE="margin-top: 6pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Arial, Helvetica, Sans-Serif; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 49%; font-size: 10pt; color: #59AE43">&nbsp;</TD><TD STYLE="width: 51%; text-align: right; font-size: 10pt; color: #59AE43"><FONT STYLE="font-size: 10pt">PS-<!-- Field: Sequence; Type: Arabic; Name: PageNo -->7<!-- Field: /Sequence --></FONT></TD></TR></TABLE><P STYLE="margin: 0pt"></P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 6pt"><P STYLE="margin: 0pt"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 100%; border-bottom: #59AE43 1pt solid; font-size: 10pt; color: #888888; text-align: right"><FONT STYLE="font-size: 14pt">Citigroup Global Markets Holdings Inc.</FONT></TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 10pt; color: #59AE43">&nbsp;</TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 12pt">&nbsp;</TD></TR></TABLE><P STYLE="margin: 0pt"></P></DIV>
    <!-- Field: /Page -->


<P STYLE="margin-top: 0; margin-bottom: 0">&nbsp;</P>
<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40"><FONT STYLE="font-weight: normal; background-color: white">Hypothetical
Examples</FONT></P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40">&nbsp;</P>

[LOGN_BOOKMARK_HypoExample]

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>

<!-- Field: Page; Sequence: 10; Value: 2 -->
    <DIV STYLE="margin-top: 6pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Arial, Helvetica, Sans-Serif; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 49%; font-size: 10pt; color: #59AE43">&nbsp;</TD><TD STYLE="width: 51%; text-align: right; font-size: 10pt; color: #59AE43"><FONT STYLE="font-size: 10pt">PS-<!-- Field: Sequence; Type: Arabic; Name: PageNo -->8<!-- Field: /Sequence --></FONT></TD></TR></TABLE><P STYLE="margin: 0pt"></P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 6pt"><P STYLE="margin: 0pt"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 100%; border-bottom: #59AE43 1pt solid; font-size: 10pt; color: #888888; text-align: right"><FONT STYLE="font-size: 14pt">Citigroup Global Markets Holdings Inc.</FONT></TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 10pt; color: #59AE43">&nbsp;</TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 12pt">&nbsp;</TD></TR></TABLE><P STYLE="margin: 0pt"></P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40">Summary Risk Factors</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>

[LOGN_BOOKMARK_SummaryRiskFactor]

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0 0pt 0.25in">&nbsp;</P>

<!-- Field: Page; Sequence: 10; Value: 2 -->
    <DIV STYLE="margin-top: 6pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Arial, Helvetica, Sans-Serif; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 49%; font-size: 10pt; color: #59AE43">&nbsp;</TD><TD STYLE="width: 51%; text-align: right; font-size: 10pt; color: #59AE43"><FONT STYLE="font-size: 10pt">PS-<!-- Field: Sequence; Type: Arabic; Name: PageNo -->9<!-- Field: /Sequence --></FONT></TD></TR></TABLE><P STYLE="margin: 0pt"></P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 6pt"><P STYLE="margin: 0pt"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 100%; border-bottom: #59AE43 1pt solid; font-size: 10pt; color: #888888; text-align: right"><FONT STYLE="font-size: 14pt">Citigroup Global Markets Holdings Inc.</FONT></TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 10pt; color: #59AE43">&nbsp;</TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 12pt">&nbsp;</TD></TR></TABLE><P STYLE="margin: 0pt"></P></DIV>
    <!-- Field: /Page -->

<P STYLE="margin-top: 0pt; margin-bottom: 0pt; font: 10pt Arial, Helvetica, Sans-Serif">&nbsp;</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40">Information About the S&amp;P 500<SUP>&reg;</SUP>
Index</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>

[LOGY_BOOKMARK_Underlying1Information]

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>

<!-- Field: Page; Sequence: 10; Value: 2 -->
    <DIV STYLE="margin-top: 6pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Arial, Helvetica, Sans-Serif; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 49%; font-size: 10pt; color: #59AE43">&nbsp;</TD><TD STYLE="width: 51%; text-align: right; font-size: 10pt; color: #59AE43"><FONT STYLE="font-size: 10pt">PS-<!-- Field: Sequence; Type: Arabic; Name: PageNo -->10<!-- Field: /Sequence --></FONT></TD></TR></TABLE><P STYLE="margin: 0pt"></P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 6pt"><P STYLE="margin: 0pt"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 100%; border-bottom: #59AE43 1pt solid; font-size: 10pt; color: #888888; text-align: right"><FONT STYLE="font-size: 14pt">Citigroup Global Markets Holdings Inc.</FONT></TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 10pt; color: #59AE43">&nbsp;</TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 12pt">&nbsp;</TD></TR></TABLE><P STYLE="margin: 0pt"></P></DIV>
    <!-- Field: /Page -->


<P STYLE="margin-top: 0; margin-bottom: 0">&nbsp;</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40">Information About the Russell 2000<SUP>&reg;
</SUP>Index</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>

[LOGY_BOOKMARK_Underlying2Information]

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>

<!-- Field: Page; Sequence: 10; Value: 2 -->
    <DIV STYLE="margin-top: 6pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Arial, Helvetica, Sans-Serif; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 49%; font-size: 10pt; color: #59AE43">&nbsp;</TD><TD STYLE="width: 51%; text-align: right; font-size: 10pt; color: #59AE43"><FONT STYLE="font-size: 10pt">PS-<!-- Field: Sequence; Type: Arabic; Name: PageNo -->11<!-- Field: /Sequence --></FONT></TD></TR></TABLE><P STYLE="margin: 0pt"></P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 6pt"><P STYLE="margin: 0pt"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 100%; border-bottom: #59AE43 1pt solid; font-size: 10pt; color: #888888; text-align: right"><FONT STYLE="font-size: 14pt">Citigroup Global Markets Holdings Inc.</FONT></TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 10pt; color: #59AE43">&nbsp;</TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 12pt">&nbsp;</TD></TR></TABLE><P STYLE="margin: 0pt"></P></DIV>
    <!-- Field: /Page -->


<P STYLE="margin-top: 0; margin-bottom: 0">&nbsp;</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40"><FONT STYLE="font-weight: normal">United States
Federal Income Tax Considerations</FONT></P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>

[LOGN_BOOKMARK_USTaxConsideration]

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>

<!-- Field: Page; Sequence: 10; Value: 2 -->
    <DIV STYLE="margin-top: 6pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Arial, Helvetica, Sans-Serif; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 49%; font-size: 10pt; color: #59AE43">&nbsp;</TD><TD STYLE="width: 51%; text-align: right; font-size: 10pt; color: #59AE43"><FONT STYLE="font-size: 10pt">PS-<!-- Field: Sequence; Type: Arabic; Name: PageNo -->12<!-- Field: /Sequence --></FONT></TD></TR></TABLE><P STYLE="margin: 0pt"></P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 6pt"><P STYLE="margin: 0pt"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 100%; border-bottom: #59AE43 1pt solid; font-size: 10pt; color: #888888; text-align: right"><FONT STYLE="font-size: 14pt">Citigroup Global Markets Holdings Inc.</FONT></TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 10pt; color: #59AE43">&nbsp;</TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 12pt">&nbsp;</TD></TR></TABLE><P STYLE="margin: 0pt"></P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40"><FONT STYLE="font-weight: normal">Certain Selling
Restrictions</FONT></P>
<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>

[LOGN_BOOKMARK_CertainSellingRestriction]

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>
<!-- Field: Page; Sequence: 10; Value: 2 -->
    <DIV STYLE="margin-top: 6pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Arial, Helvetica, Sans-Serif; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 49%; font-size: 10pt; color: #59AE43">&nbsp;</TD><TD STYLE="width: 51%; text-align: right; font-size: 10pt; color: #59AE43"><FONT STYLE="font-size: 10pt">PS-<!-- Field: Sequence; Type: Arabic; Name: PageNo -->13<!-- Field: /Sequence --></FONT></TD></TR></TABLE><P STYLE="margin: 0pt"></P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 6pt"><P STYLE="margin: 0pt"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 100%; border-bottom: #59AE43 1pt solid; font-size: 10pt; color: #888888; text-align: right"><FONT STYLE="font-size: 14pt">Citigroup Global Markets Holdings Inc.</FONT></TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 10pt; color: #59AE43">&nbsp;</TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 12pt">&nbsp;</TD></TR></TABLE><P STYLE="margin: 0pt"></P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40"><FONT STYLE="font-weight: normal; background-color: white">Validity
of the Notes</FONT></P>

 <P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40">&nbsp;</P>
       [LOGN_BOOKMARK_ValidityOfTheNotes]
     <P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>


<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40"><FONT STYLE="font-weight: normal">Contact</FONT></P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40">&nbsp;</P>
       [LOGN_BOOKMARK_Contact]
     <P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE43">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>



<P STYLE="margin: 0"></P>

<!-- Field: Page; Sequence: 15; Options: Last -->
    <DIV STYLE="margin-top: 6pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin: 0pt; text-align: right; color: rgb(89,174,64); font: 9pt Arial, Helvetica, Sans-Serif">PS-<!-- Field: Sequence; Type: Arabic; Name: PageNo -->15<!-- Field: /Sequence --></P></DIV>
    <!-- Field: /Page -->

<P STYLE="margin: 0"></P>

</BODY>
</HTML>
</TEXT>
</DOCUMENT>
