<DOCUMENT>
<TYPE>424B2
<SEQUENCE>1
<FILENAME>dp99990_424b2-us1860059.htm
<DESCRIPTION>PRICING SUPPLEMENT
<TEXT>
<HTML>
<HEAD>
     <TITLE></TITLE>
</HEAD>
<BODY STYLE="font: 10pt Times New Roman, Times, Serif">

<P STYLE="margin: 0">&nbsp;</P>

<P STYLE="margin: 0"></P>

<TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse">
<TR STYLE="vertical-align: top">
    <TD STYLE="width: 63%; font-size: 10pt; color: #888888; white-space: nowrap"><FONT STYLE="font-size: 18pt">Citigroup Global Markets Holdings Inc.</FONT></TD>
    <TD STYLE="width: 37%; white-space: nowrap">
        <P STYLE="color: #888888; font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: right"><B>[RDG_PricingDate]</B></P>
        <P STYLE="color: #888888; font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: right"><B>Medium-Term Senior
Notes, Series N</B></P>
        <P STYLE="color: #888888; font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: right"><B>Pricing Supplement
No. 2018-USNCH1693</B></P>
        <P STYLE="color: #888888; font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: right"><B>Filed Pursuant
to Rule 424(b)(2)</B></P>
        <P STYLE="color: #888888; font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: right"><B>Registration Statement
Nos. 333-216372 and 333-216372-01</B></P></TD></TR>
</TABLE>
<P STYLE="color: rgb(89,174,64); font: 12pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">[RDG_ProductName]</P>

<P STYLE="color: #59AE40; font: 11pt Arial, Helvetica, Sans-Serif; margin: 0pt 0"></P>

<TABLE CELLPADDING="0" CELLSPACING="0" WIDTH="100%" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin-top: 0pt; margin-bottom: 0pt"><TR STYLE="vertical-align: top">
<TD STYLE="width: 0"></TD><TD STYLE="width: 0.25in">&#9642;</TD><TD>The securities offered by this pricing supplement are unsecured debt securities issued by Citigroup Global Markets Holdings
Inc. and guaranteed by Citigroup Inc.&nbsp;&nbsp;Unlike conventional debt securities, the securities do not pay interest and do
not repay a fixed amount of principal at maturity. Instead, the securities offer a payment at maturity that may be greater than
or less than the stated principal amount, depending on the performance of the underlying specified below from the initial underlying
value to the final underlying value.</TD></TR></TABLE>

<P STYLE="margin-top: 0pt; margin-bottom: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P>

<TABLE CELLPADDING="0" CELLSPACING="0" WIDTH="100%" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin-top: 0pt; margin-bottom: 0pt"><TR STYLE="vertical-align: top">
<TD STYLE="width: 0"></TD><TD STYLE="width: 0.25in">&#9642;</TD><TD>The securities offer modified exposure to the performance of the underlying, with (i) a digital (fixed) return at maturity
so long as the final underlying value is greater than or equal to the final buffer value specified below and (ii) a limited buffer
against any depreciation of the underlying as described below.&nbsp;&nbsp;In exchange for these features, investors in the securities
must be willing to forgo any appreciation of the underlying in excess of the digital return amount and must be willing to forgo
any dividends with respect to the underlying.&nbsp;&nbsp;In addition, investors in the securities must be willing to accept downside
exposure to any depreciation of the underlying in excess of the buffer percentage specified below if the final underlying value
is less than the final buffer value.&nbsp;&nbsp;<B>If the final underlying value is less than the final buffer value, you will
lose 1% of the stated principal amount of your securities for every 1% by which the depreciation from the initial underlying value
to the final underlying value exceeds the buffer percentage.</B></TD></TR></TABLE>

<P STYLE="margin-top: 0pt; margin-bottom: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P>

<TABLE CELLPADDING="0" CELLSPACING="0" WIDTH="100%" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin-top: 0pt; margin-bottom: 0pt"><TR STYLE="vertical-align: top">
<TD STYLE="width: 0"></TD><TD STYLE="width: 0.25in">&#9642;</TD><TD>In order to obtain the modified exposure to the underlying that the securities provide, investors must be willing to accept
(i) an investment that may have limited or no liquidity and (ii) the risk of not receiving any amount due under the securities
if we and Citigroup Inc. default on our obligations. <B>All payments on the securities are subject to the credit risk of Citigroup
Global Markets Holdings Inc. and Citigroup Inc.</B></TD></TR></TABLE>

<P STYLE="margin-top: 0pt; margin-bottom: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P>

<TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse">
<TR STYLE="vertical-align: top; background-color: #59AE40">
    <TD STYLE="width: 23%; padding-right: 10pt"><FONT STYLE="font-size: 10pt; color: white"><B>KEY TERMS</B></FONT></TD>
    <TD STYLE="width: 77%; padding-right: 10pt">&nbsp;</TD></TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Issuer:</B></FONT></TD>
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt">[RDG_Issuer]</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E5">
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Guarantee:</B></FONT></TD>
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt">All payments due on the securities are fully and unconditionally guaranteed by Citigroup Inc.</FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Underlying:</B></FONT></TD>
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt">[RDG_Underlying1]</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E5">
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Stated principal amount: </B></FONT></TD>
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt">$[RDG_PerNotePrincipalAmount] per security</FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Pricing date:</B></FONT></TD>
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt">[RMV_PricingDate]</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E5">
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Issue date:</B></FONT></TD>
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt">[RDG_IssueDate]</FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Valuation date:</B></FONT></TD>
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt">[RDG_ValuationDate], subject to postponement if such date is not a scheduled trading day or certain market disruption events occur</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E5">
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Maturity date: </B></FONT></TD>
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt">[RDG_MaturityDate]</FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Payment at maturity:</B></FONT></TD>
    <TD STYLE="padding-right: 10pt">
        <P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">You will receive at maturity for each security you then hold:</P>
        <P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0"></P>
        <P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0 0pt 13.65pt; text-indent: -13.5pt">&#9642;&nbsp;</P>
        <P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: -11pt 0pt 0pt 0.2in; text-indent: 0in">If the final underlying
value is <B>greater than or equal to</B> the final buffer value:&nbsp;</P>
        <P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0 0pt 27.15pt; text-indent: 0in">$1,000 + the digital return amount</P>
        <P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0 0pt 27.15pt; text-indent: 0in"></P>
        <P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0 0pt 13.65pt; text-indent: -13.5pt">&#9642;</P>
        <P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0 0pt 13.65pt; text-indent: -13.5pt"></P>
        <P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: -11pt 0pt 0pt 0.2in; text-indent: 0in">If the final underlying
value is <B>less than</B> the final buffer value:&nbsp;</P>
        <P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0 0pt 27.15pt; text-indent: 0in">$1,000 + [$1,000 &times; (the underlying
        return + the buffer percentage)]</P>
        <P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0 0pt 27.15pt; text-indent: 0in"></P>
        <P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0"><B>If the final underlying value is less than the final buffer
        value, your payment at maturity will be less, and possibly significantly less, than the $1,000 stated principal amount per security.
        You should not invest in the securities unless you are willing and able to bear the risk of losing a significant portion of your
        investment.</B></P>
        <P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0"></P></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E5">
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Initial underlying value:</B></FONT></TD>
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt">[RDG_Underlying1_InitialValue], the closing value of the underlying on the pricing date </FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Final underlying value:</B></FONT></TD>
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt">The closing value of the underlying on the valuation date</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E5">
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Digital return amount:</B></FONT></TD>
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt">$[RDG_DigitalReturnAmount] per security (representing a digital return equal to [RDG_DigitalReturnPercentage]% of the stated principal amount). You will receive the digital return amount only if the final underlying value is greater than or equal to the final buffer value.</FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Underlying return:</B></FONT></TD>
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt">(i) The final underlying value <I>minus</I> the initial underlying value, <I>divided by</I> (ii) the initial underlying value</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E5">
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Final buffer value:</B></FONT></TD>
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt">[RDG_Underlying1_FinalBufferValue], 85% of the initial underlying value</FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Buffer percentage:</B></FONT></TD>
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt">[RDG_BufferPercentage]% </FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E5">
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Listing:</B></FONT></TD>
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt">The securities will not be listed on any securities exchange</FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>CUSIP / ISIN:</B></FONT></TD>
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt">	[RDG_InputCUSIPCode] / [RDG_InputISINCode]</FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E5">
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Underwriter:</B></FONT></TD>
    <TD STYLE="padding-right: 10pt"><FONT STYLE="font-size: 10pt">Citigroup Global Markets Inc. (&ldquo;CGMI&rdquo;), an affiliate of the issuer, acting as principal</FONT></TD></TR>
</TABLE>
<TABLE CELLSPACING="0" CELLPADDING="0" STYLE="font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse: collapse">
<TR STYLE="vertical-align: top">
    <TD STYLE="width: 23%; padding-right: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Underwriting fee and issue price:</B></FONT></TD>
    <TD STYLE="width: 23%; text-align: center; font-size: 10pt; color: #59AE40; padding-right: 10pt"><FONT STYLE="font-size: 10pt"><B>Issue price<SUP>(1)(2)</SUP></B></FONT></TD>
    <TD STYLE="width: 24%; text-align: center; font-size: 10pt; color: #59AE40; padding-right: 10pt"><FONT STYLE="font-size: 10pt"><B>Underwriting fee<SUP>(3)</SUP></B></FONT></TD>
    <TD STYLE="width: 30%; text-align: center; font-size: 10pt; color: #59AE40; padding-right: 10pt"><FONT STYLE="font-size: 10pt"><B>Proceeds to issuer<SUP>(4)</SUP></B></FONT></TD></TR>
<TR STYLE="vertical-align: top; background-color: #EAF3E5">
    <TD STYLE="text-align: right; padding-right: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Per security:</B></FONT></TD>
    <TD STYLE="text-align: center; padding-right: 10pt"><FONT STYLE="font-size: 10pt">$[RMV_PerNotePrincipalAmount]</FONT></TD>
    <TD STYLE="text-align: center; padding-right: 10pt"><FONT STYLE="font-size: 10pt">$[RDG_PerNoteUnderwritingFee]</FONT></TD>
    <TD STYLE="text-align: center; padding-right: 10pt"><FONT STYLE="font-size: 10pt">$[RDG_PerNoteProceedsToIssuer]</FONT></TD></TR>
<TR STYLE="vertical-align: top">
    <TD STYLE="text-align: right; padding-right: 10pt"><FONT STYLE="font-size: 10pt; color: #59AE40"><B>Total:</B></FONT></TD>
    <TD STYLE="text-align: center; padding-right: 10pt"><FONT STYLE="font-size: 10pt">$[RDG_AggregatedPrincipalAmount]</FONT></TD>
    <TD STYLE="text-align: center; padding-right: 10pt"><FONT STYLE="font-size: 10pt">$[RDG_AggregatedUnderwritingFee]</FONT></TD>
    <TD STYLE="text-align: center; padding-right: 10pt"><FONT STYLE="font-size: 10pt">$[RDG_AggregatedIssuerPrice]</FONT></TD></TR>
</TABLE>
<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">[LOGN_BOOKMARK_RiskAssesment]</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: center">&nbsp;</P>


<!-- Field: Page; Sequence: 1 -->
    <DIV STYLE="margin-top: 6pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin-top: 0pt; text-align: center; margin-bottom: 0pt; font: 10pt Arial, Helvetica, Sans-Serif">&nbsp;</P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 6pt"><P STYLE="margin: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Arial, Helvetica, Sans-Serif; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 100%; border-bottom: #59AE40 1pt solid; font-size: 10pt; color: #888888; text-align: right"><FONT STYLE="font-size: 18pt">Citigroup Global Markets Holdings Inc.</FONT></TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 12pt">&nbsp;</TD></TR></TABLE></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: rgb(89,174,64)"><FONT STYLE="font-weight: normal">Additional
Information</FONT></P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">[LOGN_BOOKMARK_AddtionalInformation]</p>

<!-- Field: Page; Sequence: 2; Options: NewSection; Value: 2 -->
    <DIV STYLE="margin-top: 6pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin-top: 0pt; text-align: center; margin-bottom: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Arial, Helvetica, Sans-Serif; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 50%; font-size: 10pt; color: #59AE40">&nbsp;</TD><TD STYLE="width: 50%; text-align: right; font-size: 10pt; color: #59AE40">PS-<!-- Field: Sequence; Type: Arabic; Name: PageNo -->2<!-- Field: /Sequence --></TD></TR></TABLE><P STYLE="margin-top: 0pt; text-align: center; margin-bottom: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 6pt"><P STYLE="margin: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Arial, Helvetica, Sans-Serif; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 100%; border-bottom: #59AE40 1pt solid; font-size: 10pt; color: #888888; text-align: right"><FONT STYLE="font-size: 18pt">Citigroup Global Markets Holdings Inc.</FONT></TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 12pt">&nbsp;</TD></TR></TABLE><P STYLE="margin: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40"><FONT STYLE="font-weight: normal">Hypothetical
Examples</FONT></P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0"><FONT STYLE="background-color: white">[LOGN_BOOKMARK_HypoExample]</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>


<!-- Field: Page; Sequence: 4; Value: 2 -->
    <DIV STYLE="margin-top: 6pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin-top: 0pt; text-align: center; margin-bottom: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Arial, Helvetica, Sans-Serif; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 50%; font-size: 10pt; color: #59AE40">&nbsp;</TD><TD STYLE="width: 50%; text-align: right; font-size: 10pt; color: #59AE40">PS-<!-- Field: Sequence; Type: Arabic; Name: PageNo -->4<!-- Field: /Sequence --></TD></TR></TABLE><P STYLE="margin-top: 0pt; text-align: center; margin-bottom: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 6pt"><P STYLE="margin: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Arial, Helvetica, Sans-Serif; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 100%; border-bottom: #59AE40 1pt solid; font-size: 10pt; color: #888888; text-align: right"><FONT STYLE="font-size: 18pt">Citigroup Global Markets Holdings Inc.</FONT></TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 12pt">&nbsp;</TD></TR></TABLE><P STYLE="margin: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40"><FONT STYLE="font-weight: normal">Summary Risk
Factors</FONT></P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">[LOGN_BOOKMARK_SummaryRiskFactor]</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0 0pt 0.25in; text-indent: 0in">&nbsp;</P>


<!-- Field: Page; Sequence: 7; Value: 2 -->
    <DIV STYLE="margin-top: 6pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin-top: 0pt; text-align: center; margin-bottom: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Arial, Helvetica, Sans-Serif; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 50%; font-size: 10pt; color: #59AE40">&nbsp;</TD><TD STYLE="width: 50%; text-align: right; font-size: 10pt; color: #59AE40">PS-<!-- Field: Sequence; Type: Arabic; Name: PageNo -->7<!-- Field: /Sequence --></TD></TR></TABLE><P STYLE="margin-top: 0pt; text-align: center; margin-bottom: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 6pt"><P STYLE="margin: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Arial, Helvetica, Sans-Serif; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 100%; border-bottom: #59AE40 1pt solid; font-size: 10pt; color: #888888; text-align: right"><FONT STYLE="font-size: 18pt">Citigroup Global Markets Holdings Inc.</FONT></TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 12pt">&nbsp;</TD></TR></TABLE><P STYLE="margin: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-indent: 0in; color: #59AE40">Information About the Dow Jones
Industrial Average<SUP>TM</SUP></P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">[LOGY_BOOKMARK_Underlying1Information]</p>

<!-- Field: Page; Sequence: 8; Value: 2 -->
    <DIV STYLE="margin-top: 6pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin-top: 0pt; text-align: center; margin-bottom: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Arial, Helvetica, Sans-Serif; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 50%; font-size: 10pt; color: #59AE40">&nbsp;</TD><TD STYLE="width: 50%; text-align: right; font-size: 10pt; color: #59AE40">PS-<!-- Field: Sequence; Type: Arabic; Name: PageNo -->8<!-- Field: /Sequence --></TD></TR></TABLE><P STYLE="margin-top: 0pt; text-align: center; margin-bottom: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 6pt"><P STYLE="margin: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Arial, Helvetica, Sans-Serif; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 100%; border-bottom: #59AE40 1pt solid; font-size: 10pt; color: #888888; text-align: right"><FONT STYLE="font-size: 18pt">Citigroup Global Markets Holdings Inc.</FONT></TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 12pt">&nbsp;</TD></TR></TABLE><P STYLE="margin: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40"><FONT STYLE="font-weight: normal">United States
Federal Tax Considerations</FONT></P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">[LOGN_BOOKMARK_USTaxConsideration]</P>

<P STYLE="font: bold 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>


<!-- Field: Page; Sequence: 9; Value: 2 -->
    <DIV STYLE="margin-top: 6pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin-top: 0pt; text-align: center; margin-bottom: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Arial, Helvetica, Sans-Serif; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 50%; font-size: 10pt; color: #59AE40">&nbsp;</TD><TD STYLE="width: 50%; text-align: right; font-size: 10pt; color: #59AE40">PS-<!-- Field: Sequence; Type: Arabic; Name: PageNo -->9<!-- Field: /Sequence --></TD></TR></TABLE><P STYLE="margin-top: 0pt; text-align: center; margin-bottom: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P></DIV>
    <DIV STYLE="page-break-before: always; margin-top: 6pt; margin-bottom: 6pt"><P STYLE="margin: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Arial, Helvetica, Sans-Serif; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 100%; border-bottom: #59AE40 1pt solid; font-size: 10pt; color: #888888; text-align: right"><FONT STYLE="font-size: 18pt">Citigroup Global Markets Holdings Inc.</FONT></TD></TR><TR STYLE="vertical-align: top"><TD STYLE="font-size: 12pt">&nbsp;</TD></TR></TABLE><P STYLE="margin: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P></DIV>
    <!-- Field: /Page -->

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40"><FONT STYLE="font-weight: normal">Supplemental
Plan of Distribution</FONT></P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">[LOGN_BOOKMARK_SuplementalPlan]</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40"><FONT STYLE="font-weight: normal">Valuation of
the Securities</FONT></P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">[LOGN_BOOKMARK_ValuationOfSecurities]</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40"><FONT STYLE="font-weight: normal">Certain Selling
Restrictions</FONT></P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40">&nbsp;</P>

<P STYLE="color: #59AE43; font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">[LOGN_BOOKMARK_CertainSellingRestriction]</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40"><FONT STYLE="font-weight: normal; background-color: white">Validity
of the Securities</FONT></P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0"><FONT STYLE="background-color: white">[LOGN_BOOKMARK_ValidityOfSecurities]</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>

<P STYLE="font: 14pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40"><FONT STYLE="font-weight: normal">Contact</FONT></P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; color: #59AE40">&nbsp;</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">[LOGN_BOOKMARK_Contact]</P>

<P STYLE="font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0">&nbsp;</P>


<!-- Field: Page; Sequence: 12; Options: Last -->
    <DIV STYLE="margin-top: 6pt; margin-bottom: 6pt; border-bottom: Black 1pt solid"><P STYLE="margin-top: 0pt; text-align: center; margin-bottom: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P><TABLE CELLSPACING="0" CELLPADDING="0" STYLE="width: 100%; font: 10pt Arial, Helvetica, Sans-Serif; border-collapse: collapse"><TR STYLE="vertical-align: top"><TD STYLE="width: 50%; font-size: 10pt; color: #59AE40">&nbsp;</TD><TD STYLE="width: 50%; text-align: right; font-size: 10pt; color: #59AE40">PS-<!-- Field: Sequence; Type: Arabic; Name: PageNo -->12<!-- Field: /Sequence --></TD></TR></TABLE><P STYLE="margin-top: 0pt; text-align: center; margin-bottom: 0pt; font: 10pt Arial, Helvetica, Sans-Serif"></P></DIV>
    <!-- Field: /Page -->



<P STYLE="margin: 0"></P>

</BODY>
</HTML>
</TEXT>
</DOCUMENT>
